# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# local database
/data/*.db
/data/*.db-*

# misc
.DS_Store
*.pem

# confidential source screenshots (never commit)
Screenshot*.png

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
